@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.hide{
    display: none;
}

.display-flex {
    display: flex;
}

.text_orange {
    color: orangered;
}

.text{
    color: rgba(255, 255, 255, 1);
}

.text-primary {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, .5);
}

.text-small {
    font-size: .8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, .5);
}

.btn-primary {
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 10rem;
    height: 2.5rem;
    border-radius: 40px;
}

.btn-secondary {
    background-color: orangered;
    color: white;
    width: 10rem;
    height: 2.5rem;
    border-radius: 40px;
}

.title_1{
    font-weight: 700;
    font-size: 3rem;
}

.header {
    max-width: 1440px;
    max-height: 700px;
    margin: 0 auto;
    background-color: rgba(48, 48, 48, 1);
}

.nav_border {
    /* background-color:rgba(255, 255, 255, 0.1); */
    border: 1px solid grey;
    border-radius: 16px;
}


.home-card_1 {
    background-color: rgba(48, 48, 48, 0.54);
    height: 50px;
    width: 120px;
    border-radius: 5px;
    margin-left: -70px;
    margin-top: -90px;

    opacity: 1;
}

.home-card_2 {
    background-color: rgba(48, 48, 48, 0.54);
    height: 5rem;
    width: 8rem;
    border-radius: 5px;
    margin-left: 200px;
    margin-top: -400px;
    opacity: 2;
}

.circle {
    width: 25px;
    height: 25px;
    background-color: rgb(230, 83, 60); 
    border-radius: 50%; 
    margin: 12px;
}
.videos_tutorials{
    font-size: 1.5rem;
    font-weight: 900;
}

.workout_videos{
    font-weight: 900;
    font-size: 2rem;  
}

.banner_1 {
    padding-left: 190px;
    padding-right: 200px;
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
}

.home {
    width: 600px;
    height: 440px;
    padding-top: 80px;
    padding-bottom: 80px;  
}

.homepage {
    gap: 160px;
}

.image_1 {
    width: 100%;
}

.navbar {
    padding-top: 50px;
    justify-content: space-between;
    align-items: center;
}

main {
    background-color: #111111;
}

.banner_2 {
    width: 1440px;
    padding-top: 100px;
}

.Change_Your_Habits {
    text-align: center;
}

.circle-image {
    width: 220px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.circle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.body_part_1 {
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    gap: 40px;
}

.body {
    flex-direction: column;
}

.img_run {
    width: 352px;
    height: 320px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 18px;
}

.banner_3 {
    padding-left: 180px;
    padding-right: 180px;

}

.bg {
    background-color: rgba(34, 34, 34, 1);
    border-radius: 20px;
}

.img_training {
    width: 100%;
    height: 100%;
}

.taraining {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.banner_4 {
    padding-left: 180px;
    padding-right: 180px;
}

.bmi_cal {
    text-align: center;
}

.bg_cal {
    background-color: rgba(34, 34, 34, 1);
    gap: 180px;
}

.btn-th {
    background-color: rgba(255, 255, 255, 0.1);
    color: aliceblue;
    border-radius: 5px;
    height: 50px;
    width: 280px;
}


table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    color: #f2f2f2;
}

.img_trainer{
    width: 320px;
    height: 270px;
    border-radius: 5%;
    overflow: hidden;
}

.img_trainer img{
    width: 100%;
    height: 100%;
}


.trainer {
    background-color: rgba(34, 34, 34, 1);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px 20px;
}

.trainer_bg{
padding-left: 190px;
padding-right: 190px;
}

.trainer_title{
    text-align: center;
}


/* .footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 15px;
    font-size: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.7);
} */